<mat-dialog-content class="mat-typography">
    <mat-card>
        <mat-card-title style="text-align: center;">{{userAction?.mode=='edit'? 'Edit User': 'Add User'}}</mat-card-title><hr>
        <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="addUserData()">
            <mat-form-field>
            <input type="text" matInput placeholder="Name" formControlName="name">
            <input type="text" matInput hidden placeholder="Id" formControlName="id" value="{{userAction?.userObj?.id}}"  *ngIf="userAction?.userObj?.id">
            </mat-form-field>

            <mat-form-field>
            <input type="number" matInput placeholder="Phone Number" formControlName="phone">
            </mat-form-field>
            <mat-form-field>
            <input type="text" matInput placeholder="Address" formControlName="address">
            </mat-form-field>
            <mat-form-field>
            <input type="text" matInput placeholder="State" formControlName="state">
            </mat-form-field>
            <mat-form-field>
            <input type="text" matInput placeholder="City" formControlName="city">
            </mat-form-field>
            <mat-error>
                <span *ngIf="(form.get('username')?.hasError('required') || form.get('username')?.hasError('email')) && (form.get('username')?.dirty || form.get('username')?.touched)">Please Enter Name</span><br>
                <span *ngIf="form.get('password')?.hasError('required') && (form.get('password')?.dirty || form.get('password')?.touched)">Please Enter Valid Password</span>
                <span *ngIf="((form.get('password')?.hasError('minlength')) && (form.get('password')?.hasError('maxlength'))) && (form.get('password')?.dirty || form.get('password')?.touched)">Please Enter Valid Phone Number</span>
            </mat-error>
        <div class="button align_flex_right">
            <button mat-raised-button color="primary" type="submit" mat-button>{{userAction?.mode!='edit'?'Add User': 'Update User'}}</button>
            <button mat-button mat-dialog-close>Cancel</button>
        </div>

        </form>
    </mat-card-content>
    </mat-card>
</mat-dialog-content>